@import "https://fonts.googleapis.com/css?family=Laila:400|Lato:700,400|Karla:400|Kanit:400";
@import "https://fonts.googleapis.com/css?family=Dancing+Script:700";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

img {
  vertical-align: middle; }

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dbdbdb; }

.container {
  max-width: 928px; }

h1 {
  font-family: "Laila", serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 0px;
  margin-bottom: 10px;
  letter-spacing: -0.72px;
  word-spacing: 0.00px;
  text-transform: uppercase; }

h2 {
  font-family: "Laila", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: -0.72px;
  word-spacing: 0.00px;
  text-transform: uppercase; }

h3 {
  font-family: "Laila", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.20;
  opacity: 1.00;
  margin-top: 30px;
  margin-bottom: 5px;
  letter-spacing: 0.00px;
  word-spacing: 0.00px;
  text-transform: uppercase; }

p, ul {
  font-family: "Kanit", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.60;
  opacity: 0.70;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: -0.30px;
  word-spacing: -0.10px;
  text-transform: none; }

nav ul, .navbar-brand {
  text-transform: uppercase; }

@media screen and (max-width: 44em) {
  .section {
    padding-top: 20px;
    padding-bottom: 20px; } }
.content {
  margin-top: 10px;
  padding: 2px 5px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.about-banner {
  height: 250px; }

.about-section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .about-section::after {
    clear: both;
    content: "";
    display: table; }
  .about-section .desc {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-left: 12.79471%;
    text-align: justify; }
    .about-section .desc:last-child {
      margin-right: 0; }

.about-content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .about-content::after {
    clear: both;
    content: "";
    display: table; }
  .about-content .why-us, .about-content .advantage {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .about-content .why-us:last-child, .about-content .advantage:last-child {
      margin-right: 0; }

@media screen and (max-width: 44em) {
  .about-banner {
    max-width: 100%; }

  .about-section .desc {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    text-align: justify; }
    .about-section .desc:last-child {
      margin-right: 0; }

  .about-content .why-us, .about-content .advantage {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    border-bottom: 1px solid #dbdbdb; }
    .about-content .why-us:last-child, .about-content .advantage:last-child {
      margin-right: 0; } }

/*# sourceMappingURL=main.css.map */
